{{define "head"}}<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{ or ._head.title `Sigo` }}</title>
{{range ._head.meta}}{{ . }}
{{end}}{{range ._head.css}}<link rel="stylesheet{{ if HasSuffix . `.less` }}/less{{end}}" href="{{ . }}" type="text/css" />
{{end}}{{range ._head.js}}<script src="{{ . }}"></script>
{{end}}</head>
<body>
{{end}}

{{define "nav"}}
<nav>
	<div class="container">
		<h1><a href="/"><strong>Sigo</strong> Framework</a></h1>
		<span class="session-info">{{ ._session.Id }}</span>
	</div>
</nav>
{{end}}

{{define "foot"}}
<footer>
	<div class="container">
		<p class="pull-right">by zhengkai</p>
		{{ if ._stime }}<p>time: {{ ._stime }}ms</p>{{ end }}
		{{ if ._count }}<p>id: #{{ ._count }}</p>{{ end }}
	</div>
</footer>

</body>
</html>
{{end}}
