{{define "head"}}<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{ or ._head.title `WOT Tank List` }}</title>
{{range ._head.meta}}{{ . }}
{{end}}{{range ._head.css}}<link rel="stylesheet{{ if HasSuffix . `.less` }}/less{{end}}" href="{{ . }}" type="text/css" />
{{end}}{{range ._head.js}}<script src="{{ . }}"></script>
{{end}}</head>
<body>
{{end}}

{{define "nav"}}
<nav>
	<div class="container">
		<h1><a href="/">WOT Tank List</a></h1>
		{{ if ._session.Id }}<div class="session dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="nav-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> {{ ._session.Name }}
			</button>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-profile">
				<a class="dropdown-item" href="/passport/setting.do"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Settings</a>
				<div class="dropdown-divider"></div>
				<button class="dropdown-item" type="button" onclick="logout()"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Logout</button>
			</div>
		</div>{{ else }}<a href="/passport/login" class="session btn btn-secondary"><i class="fa fa-fw fa-sign-in" aria-hidden="true"></i> Login</a>{{ end }}
	</div>
</nav>
{{end}}

{{define "foot"}}
<footer>
	<div class="container">
		<p class="pull-right">by zhengkai</p>
		{{ if ._stime }}<p>time: {{ ._stime }}ms</p>{{ end }}
		{{ if ._count }}<p>id: #{{ ._count }}</p>{{ end }}
	</div>
</footer>

</body>
</html>
{{end}}
