{{ define "main" }}

<div id="filterBox" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="Third group">
		{{ range .tier }}
		<button type="button" data-type="tier" data-value="{{ . }}" class="btn {{ if in_array . $.listQuery.Tier }}btn-primary{{ else }}btn-outline-primary{{ end }}">{{ . }}</button>
		{{ end }}
	</div>
	<div class="btn-group mr-2" role="group" aria-label="First group">
		{{ range $i, $_ := .vehicle_type }}
		<button type="button" data-type="type" data-value="{{ $i }}" class="btn {{ if in_array $i $.listQuery.Type }}btn-primary{{ else }}btn-outline-primary{{ end }}">{{ .Short }}</button>
		{{ end }}
	</div>
	<div class="btn-group mr-2" role="group" aria-label="Second group">
		{{ range $i, $_ := .nation }}
		<button type="button" data-type="nation" data-value="{{ $i }}" class="btn {{ if in_array $i $.listQuery.Nation }}btn-primary{{ else }}btn-outline-primary{{ end }}">{{ .Short }}</button>
		{{ end }}
	</div>

	<button class="btn btn-outline-primary">reset filter</button>
</div>

<table class="table tablesorter tablesorter-materialize" style="width: auto;">
	<thead>
		<tr>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">name</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">nation</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">tier</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">type</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">特级</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">1级</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">2级</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">3级</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">3环</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">2环</div></th>
			<th class="tablesorter-header tablesorter-headerUnSorted"><div class="tablesorter-header-inner">1环</div></th>
		</tr>
	</thead>
	<tbody id="tankList">
		{{ range .vehicle }}	<tr data-nation="{{ .Nation }}" data-type="{{ .Type }}" data-tier="{{ .Tier }}"{{ if .Show }}{{ else }} style="display: none;"{{ end }}>
		<td>{{ .Name }}</td>
		<td>{{ (index $.nation .Nation).Short }}</td>
		<td>{{ .Tier }}</td>
		<td>{{ (index $.vehicle_type .Type).Short }}</td>
		<td>{{ show_score (index $.score .Id).M4min }}</td>
		<td>{{ show_score (index $.score .Id).M3min }}</td>
		<td>{{ show_score (index $.score .Id).M2min }}</td>
		<td>{{ show_score (index $.score .Id).M1min }}</td>
		<td>{{ show_score (index $.score .Id).G3min }}</td>
		<td>{{ show_score (index $.score .Id).G2min }}</td>
		<td>{{ show_score (index $.score .Id).G1min }}</td>
	</tr>
{{ end }}
	</tbody>
</table>
{{ end }}
